// Font families

$style1: 'Noto Serif', serif;
$style2: 'Dancing Script', cursive;
$style3: 'Satisfy', cursive;
$style4: 'Alegreya Sans', sans-serif;
$style5: 'Noto Sans', sans-serif;
$style6: 'Anton', sans-serif;
$style7: 'Open Sans', sans-serif;

// Font colors

$primary: #5D3800;
$secondary: #382110;
$googleBlue: #4285f4;
$googleRed: #ea4335;
$googleYellow: #fbbc05;
$googleGreen: #34a853;